<ion-tabs>
    <ion-tab [root]="universityRoot" tabTitle="University" tabIcon="school"></ion-tab>
    <ion-tab [root]="contactsRoot" tabTitle="Contacts" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="aboutRoot" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
